<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>NearestPlace</title>
    <!-- BootStrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- GoogleMaps API -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=places&callback=onLoaded" async defer></script>

    <!-- Static Files-->
    <script src="{% static 'landing_page/main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'landing_page/styles.css' %}">
</head>
<body>
<!-- Navigation bar -->
<nav class="navbar navbar-default navbar-static-top">
    <div>
        <ul class="nav navbar-nav">
            <li class="navbar-brand"><i>Nearest Place</i></li>
            <li><a class="navbar-link" href="{% url 'home' %}">Home</a></li>
            <li><a class="navbar-link" href="{% url 'locations:meeting' %}">Meetings</a></li>
            <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron">
    <div id="meeting_data">
        <label for="city">Enter your city</label>
        <input type="text" name="city" id="city" autocomplete="on">
        <label for="place_type">Enter the place type (e.g. restaurant)</label>
        <input type="text" id="place_type" name="place_type">
        <h3>Figure out the nearest place to meet with your friends</h3>
        <label for="meeting_name">Meeting Name</label>
        <input id="meeting_name">
        <button id="new_meeting_btn">Create New Meeting</button>
    </div>
    <div id="result">
        <h4 id="message1" hidden>Private code for your meeting</h4>
        <h5 id="message2" hidden>Only share it with your friends to add their locations to your meeting</h5>
        <h4 id="meeting_code"></h4>
    </div>
</div>
</body>
</html>