<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NearestPlace</title>
    <!-- BootStrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- GoogleMaps API -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=places&callback=onLoaded" async defer></script>
</head>
<body>
<div class="jumbotron">
    <form id="input_form" method="POST">
        {% csrf_token %}
        <h2>Enter your city <input type="text" name="input_city" id="input_city" autocomplete="on"></h2>
        <h2>Enter the place type (e.g. restaurant)<input type="text" name="input_placetype"></h2>
        <button type="submit">Submit</button>
        <h4>Temporarly fixed locations are being used to decide nearest location</h4>
    </form>
     <div id="loader" class="loader" hidden></div>
    <h3 id="result_place"></h3>
</div>
</body>
<style>
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 90px;
        height: 90px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>
<script>
    // Enable google autocomplete with location selection
    var onLoaded = function() {
        var location_input = document.getElementById('input_city');
        var autocomplete = new google.maps.places.Autocomplete(location_input);
    };

    // Prevent form submission when enter is pressed with location selection
    $('#input_city').keydown(function (e) {
      if (e.which === 13 && $('.pac-container:visible').length)
          return false;
    });

    // Get user current location
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        console.log(pos);
      });
    } else {
        console.log('Location access denied!');
    }
    
    $('#input_form').on('submit', function (event) {
        event.preventDefault();
        $('#loader').show();

        $.ajax({
            url:'/get_location/',
            type:'POST',
            data:$('#input_form').serialize(),
            
            success: function (json) {
                $('#loader').hide();
                $('#result_place').text(json['place']);
            },
            error: function () {
                console.log('Request Failed!');
                $('#loader').hide();
                window.alert('Please Enter Valid Info!');
            }
        })
    });
</script>
</html>