<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meeting</title>
    <!-- BootStrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div>
        <ul class="nav navbar-nav">
            <li class="navbar-brand"><i>Nearest Place</i></li>
            <li><a class="navbar-link" href="{% url 'home' %}">Home</a></li>
            <li><a class="navbar-link" href="{% url 'locations:meeting' %}">Meetings</a></li>
            <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h3>Please Enter Your Meeting Code</h3>
            <input type="text" id="code">
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <button id="add_location_btn">Add My Location</button>
            <button id="place_btn">Get Nearest Place!</button>
        </div>
        <div id="loader" class="loader" hidden></div>
        <h3 id="result_place"></h3>
    </div>
</div>
</body>
<script>
    // Get user's location (longitude and magnitude) and post it to server
    $('#add_location_btn').on('click', function () {
        $('#loader').toggle();    // Show loading sign
        if ($('#code').val().length === 0) {
            window.alert('Enter a valid code!');
        } else {
            getLocation().then(function (data) {
                postLocation(data);
                $('#loader').toggle();  // Hide loading sign
            });
        }
    });

    // Get the 'Nearest Place' for the meeting with given code
    $('#place_btn').on('click', function () {
        $('#loader').toggle();    // Not having an effect for some reason
        if ($('#code').val().length === 0) {
            window.alert('Enter valide code for your meeting!');
        } else {
            $.ajax({
                url:'/get_location/',
                type:'POST',
                data:{'csrfmiddlewaretoken':'{{ csrf_token }}', 'code':$('#code').val()},

                success: function (json) {
                    $('#result_place').text(json['place']);
                },
                error: function () {
                    console.log('Failed to get nearest place!');
                }
            })
        }
        $('#loader').toggle();
    });

    // Get user's location synchronously.
    function getLocation() {
        return new Promise(function (resolve, reject) {
            var pos;
            // Get user's current location
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position) {
                pos = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
                };
                if (pos) resolve(pos);
              });
            } else {
                console.log('Location access denied!');
            }
        });
    }

    /**
     * Posts user's location co-ordinates to the server.
     * @param {Dictionary} data   Location dict of user's longitude and latitude.
     */
    function postLocation(data) {
        var pos = data;
        $.ajax({
            url:'/add_location/',
            type:'POST',
            data:{
                'csrfmiddlewaretoken':'{{ csrf_token }}',
                'code':$('#code').val(),
                'lng':pos.lng,
                'lat':pos.lat
            },

            success: function (json) {
                window.alert('Location Saved!');
            },
            error: function (e) {
                console.log('Sending Location Failed!');
            }
        })
    }
</script>
<style>
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 90px;
        height: 90px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>
</html>